#editSchoolClass, #newStudent {
    display: none;
}

#helpercontent {
    display : none;
}

#overview {
    display : flex;
    justify-content : flex-start;
    align-items: center;
    gap: 40px;
}