#editSchoolClass, #newStudent {
    display: none;
}

#helpercontent {
    display : none;
}

#overview {
    display : flex;
    justify-content : flex-start;
    align-items: center;
    gap: 40px;
}

.coloredHeader {
    background-color :green;
    cursor : pointer
}

.desc {
    font-size : 15px;
}