<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>

        <th>#</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Note</th>
    </thead>

    <tbody>
<!--        <tr th:each="student : ${studentDao}">-->
<!--            <td th:text="${iterStat.count}"></td>-->
<!--            <td th:text="${student.firstName}"></td>-->
<!--            <td th:text="${student.lastName}"></td>-->
<!--        <td><input type="text" th:field="*{Grade}"></td>-->
<!--        </tr>-->
        </form>

    </tbody>
</table>

</body>
</html>