<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Gradio</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script th:src="@{/js/actions.js}"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
    <h1>Gradio</h1>

    <div id="availableSchoolClasses">
        <th:block th:unless="${allSchoolClasses} == null">

            <ul th:each="SchoolClass : ${allSchoolClasses}" th:data-id="${SchoolClass.Id}" th:data-name="${SchoolClass.className}" th:data-subject="${SchoolClass.subject}">

                <a th:href="@{/schoolclasses/{schoolclassid}(schoolclassid=${SchoolClass.Id})}"
                   th:text="${SchoolClass.className} + ' - ' + ${SchoolClass.subject}"></a>
                <button onclick="openEditSchoolClassWindow(this)">editieren</button>
                <div class="editSchoolClass" th:data-id="${SchoolClass.Id}" th:id="'editSchoolClassWindow' + ${SchoolClass.Id}">

                    <label for="">Klasse: </label>
                    <input type="text" class="className" onchange="updateSchoolClass(this)">
                    <label for="">Fach: </label>
                    <input type="text" class="classSubject" onchange="updateSchoolClass(this)">
                    <button onclick="deleteSchoolClass(this)">Klasse löschen</button>
                </div>
                
            </ul>

        </th:block>

    </div>

    <button onclick="openNewSchoolClassWindow(this)">neue Klasse anlegen</button>

    <div id="newSchoolClass">
        <h2>neue Klasse erstellen</h2>
        <form action="#" method="POST" th:object="${newSchoolClass}">
            
            <label>Klasse: </label>
            <input type="text" th:field="*{className}"><br>

            <label>Fach: </label>
            <input type="text" th:field="*{subject}">

            <input type="submit" value="anlegen">
            <p th:if="#{fields.hasErrors('className')}" th:errors="*{className}"></p>
        </form>
    </div>

</body>

<script>
    function closeAll() {
        $(".editSchoolClass").hide();
        $('#newSchoolClass').hide();
    }

    closeAll();

    function editSelector(id) {
        var selector = "#editSchoolClassWindow" + id;
        return selector;
    }

    function openEditSchoolClassWindow(buttonElement) {
        let allButtons = document.querySelectorAll("ul > button");
        for (let singleButton of allButtons) {
            if(singleButton.innerHTML == "ausblenden") {
                singleButton.innerHTML = "editieren";
            }
        }
        var stateOpen = false;
        let displayElement = buttonElement.parentElement.querySelector(".editSchoolClass");
        let divAbove = buttonElement.parentElement.querySelector(".editSchoolClass");
        if (displayElement.style.display != "none") {
            stateOpen = true;
        }

        closeAll();
        if (stateOpen) {
        } else {
            divAbove.style.display = "block";
            buttonElement.innerHTML = "ausblenden";
            divAbove.querySelector(".className").value = divAbove.parentElement.dataset.name;
            divAbove.querySelector(".classSubject").value = divAbove.parentElement.dataset.subject;
        }
    }

    function openNewSchoolClassWindow(buttonElement) {
        toggle(document.querySelector('#newSchoolClass'));

        let newString = "neue Klasse anlegen";

        if(buttonElement.innerHTML == newString) {
            buttonElement.innerHTML = "ausblenden";
        } else {
            buttonElement.innerHTML = newString;
        }
    }

    async function deleteSchoolClass(buttonElement) {
        if (confirm("Achtung: Wirklich die ganze Klasse löschen?") == true) {
            let url = cleanUpUrl(window.location.href);
            let queryString = url + "/del?id=" + buttonElement.parentElement.dataset.id;
            const response = await fetch(queryString, {
                method : "DELETE",
                headers : {
                    "Content-Type" : "application/json"
                }
            });
            if(!response.ok) {
                throw response;
            } else {
                buttonElement.parentElement.parentElement.style.display = "none";
            }
        }
    }




</script>
</html>