<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" >
    <title th:text="${currentClass.className} + ' - ' + ${currentClass.subject}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script th:src="@{/js/actions.js}"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body class="bg-light">

<div th:replace="~{fragments/navbar_menu}"></div>

<div class="content-wrapper">
    <section class="content bg-white border">
        <h3>Allgemeine Informationen</h3>
        <div id="overview">
            <div>
                <span th:text="'Klasse: ' + ${currentClass.className}"></span>   <a title="ändern" class="smallpencil" onclick="openSchoolClassEdit()">&#9998;</a>
                <br>
                <span th:text="'Fach: ' + ${currentClass.subject}"></span>  <a title="ändern" class="smallpencil" onclick="openSchoolClassEdit()">&#9998;</a>
                <p th:text="'Schüler: ' + ${#lists.size(currentClass.students)}">Schüler: 14</p>
            </div>
            <div>
                <th:block>
                    <p>
                        <th:block th:text="'Gewichtung (schriftlich/mündlich): '"></th:block>
                        <th:block th:text="${currentClass.writtenWeighting} ?: 'x'"></th:block>
                        <th:block th:text="' : '"></th:block>
                        <th:block th:text="${currentClass.oralWeighting} ?: 'x'"></th:block>
                    </p>
                </th:block>
                <div id="newgrade">
                    <div>
                        <p th:text="'schriftliche Noten: ' + ${#lists.size(writtenGradeTests)}">schriftlich: 2</p>
                        <p th:text="'mündliche Noten: ' + ${#lists.size(oralGradeTests)}">mündlich: 1</p>
                    </div>
                    <div>
                        <button class="btn btn-sm btn-outline-primary" onclick="showHelperContent()">+ Note</button>
                    </div>

                </div>
            </div>

            <div>
                <div id="editSchoolClass" th:data-id="${currentClass.Id}">
                   <div class="form-group row">
                        <div class="col">
                            <label for="">Klasse:</label>
                            <input type="text" class="className form-control" id="className" onchange="updateSchoolClassOnSingleView()">
                        </div>
                       <div class="col">
                            <label for="">Fach:</label>
                            <input type="text" class="classSubject form-control" id="classSubject" onchange="updateSchoolClassOnSingleView()">
                       </div>
                   </div>
                </div>
            </div>
            <div id="helpercontent">
                <b>Neue Note</b>
                <form method="POST" th:action="@{/schoolclasses/{id}/newgradetest(id=${currentClass.Id})}" th:object="${newGradeTest}">
                   <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" th:field="*{gradeType}" id="written" name="grade_type" value="WRITTEN">
                        <label for="written">schriftlich</label>
                   </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" th:field="*{gradeType}" id="oral" name="grade_type" value="ORAL">
                        <label for="oral">mündlich</label><br>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <input type="text" placeholder="Name" class="form-control form-control-sm" th:field="*{testName}">
                        </div>
                        <div class="col-7">
                            <input type="text" placeholder="Beschreibung" class="form-control form-control-sm" th:field="*{testDescription}">
                        </div>
                    <div class="col-1">
                        <input class="btn btn-sm btn-primary" type="submit" value="anlegen">
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="content bg-white border">
        <table id="main" class="table">
            <caption>- : fehlende Gewichtung / fehlende Noten</caption>
            <h3>Übersicht</h3>
            <thead>
                <tr>
                    <th rowspan="3">#</th>
                    <th rowspan="3">Vorname</th>
                    <th rowspan="3">Nachname</th>
                    <th th:unless="${#lists.isEmpty(writtenGradeTests)}" th:colspan="${#lists.size(writtenGradeTests)}">
                        <th:block th:text="'schrifliche Noten '"></th:block>
                        <span id="writtenweightingsdisplay">
                            <th:block th:text="'('"></th:block>
                                <th:block th:each="gradeTest, iterStat : ${writtenGradeTests}">
                                <th:block th:text="${gradeTest.weighting} ?: 'x'"></th:block>
                                <th:block th:unless="${iterStat.count} == ${#lists.size(writtenGradeTests)}" th:text="':'"></th:block>
                            </th:block>

                            <th:block th:text="')'"></th:block>
                        </span>
                    </th>
                    <th th:unless="${#lists.isEmpty(oralGradeTests)}" th:colspan="${#lists.size(oralGradeTests)}">
                        <th:block th:text="'mündliche Noten '"></th:block>
                        <span id="oralweightingsdisplay">
                            <th:block th:text="'('"></th:block>
                                <th:block th:each="gradeTest, iterStat : ${oralGradeTests}">
                                <th:block th:text="${gradeTest.weighting} ?: 'x'"></th:block>
                                <th:block th:unless="${iterStat.count} == ${#lists.size(oralGradeTests)}" th:text="':'"></th:block>
                            </th:block>
                            <th:block th:text="')'"></th:block>
                        </span>
                    </th>
                    <th colspan="3">Durchschnitte</th>
                </tr>
                <tr>
                    <th th:unless="${#lists.isEmpty(writtenGradeTests)}" th:each="gradeTest : ${writtenGradeTests}"
                        th:onclick="'openGradeTest(' + ${gradeTest.Id} + ')'" class="clickable" th:data-id="${gradeTest.Id}"
                        title="Noten eintragen"
                        th:text="${gradeTest.testName}"></th>
                    <th th:unless="${#lists.isEmpty(oralGradeTests)}" th:each="gradeTest : ${oralGradeTests}"
                        th:onclick="'openGradeTest(' + ${gradeTest.Id} + ')'" class="clickable" th:data-id="${gradeTest.Id}"
                        title="Noten eintragen" th:text="${gradeTest.testName}"></th>
                    <th rowspan="2" >schriftlich</th>
                    <th rowspan="2">mündlich</th>
                    <th:block>
                        <th rowspan="2">
                            <th:block th:text="'Gesamt ('"></th:block>
                            <th:block th:text="${currentClass.writtenWeighting} ?: 'x'"></th:block>
                            <th:block th:text="' : '"></th:block>
                            <th:block th:text="${currentClass.oralWeighting} ?: 'x'"></th:block>
                            <th:block th:text="')'"></th:block>
                        </th>
                    </th:block>
                </tr>
                <tr>
                    <th th:unless="${#lists.isEmpty(writtenGradeTests)}" th:each="gradeTest : ${writtenGradeTests}"
                        th:onclick="'openGradeTest(' + ${gradeTest.Id} + ')'" class="clickable desc" th:data-id="${gradeTest.Id}"
                        title="Noten eintragen" th:text="${gradeTest.testDescription}"></th>
                    <th th:unless="${#lists.isEmpty(oralGradeTests)}" th:each="gradeTest : ${oralGradeTests}"
                        th:onclick="'openGradeTest(' + ${gradeTest.Id} + ')'" class="clickable desc" th:data-id="${gradeTest.Id}"
                        title="Noten eintragen" th:text="${gradeTest.testDescription}"></th>
                </tr>

            </thead>

            <tbody>
                <tr th:unless="${#lists.isEmpty(studentavg)}" th:each="student, iterStat : ${studentavg}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td class="grade" th:each="grade : ${student.writtenGrades}" th:text="${grade.Grade}"></td>
                    <td class="grade" th:each="grade : ${student.oralGrades}" th:text="${grade.Grade}"></td>
                    <td th:text="${#numbers.formatDecimal(student.writtenAverage,1,2,'COMMA')} ?: '-'"></td>
                    <td th:text="${#numbers.formatDecimal(student.oralAverage,1,2,'COMMA')} ?: '-'"></td>
                    <td th:text="${#numbers.formatDecimal(student.totalAverage,1,2,'COMMA')} ?: '-'"></td>
                </tr>
                <tr>
                    <td><button class="btn btn-sm btn-secondary" id="plusbutton" onclick="openNewStudentWindow()">+</button></td>
                    <td class="input"><input type="text" id="firstName"></td>
                    <td class="input"><input type="text" id="lastName"></td>
                    <td><button class="btn btn-secondary" id="createbutton" onclick="createNewStudent()">anlegen</button></td>

                </tr>
                <tr>
                    <td class="emptycell" colspan="3"></td>
                    <th:block th:unless="${#lists.isEmpty(writtenGradeTests)}" th:each="gradeTest : ${writtenGradeTests}">
                        <th:block th:switch="${#arrays.contains(gradeTest.grades.![grade], null)}">
                            <td th:case="true" class="avgdisplay" th:text="'&#8709; -'"></td>
                            <td th:case="false" class="avgdisplay" th:text="'&#8709; ' + ${#numbers.formatDecimal(#aggregates.avg(gradeTest.grades.![grade]),1,2,'COMMA')}"></td>
                        </th:block>
                    </th:block>
                    <th:block th:unless="${#lists.isEmpty(oralGradeTests)}" th:each="gradeTest : ${oralGradeTests}">
                        <th:block th:switch="${#arrays.contains(gradeTest.grades.![grade], null)}">
                            <td th:case="true" class="avgdisplay" th:text="'&#8709; -'"></td>
                            <td th:case="false" class="avgdisplay" th:text="'&#8709; ' + ${#numbers.formatDecimal(#aggregates.avg(gradeTest.grades.![grade]),1,2,'COMMA')}"></td>
                        </th:block>
                    </th:block>
                </tr>
            </tbody>
        </table>
    </section>
</div>
<script>
$("th.clickable").hover(function() {
    $(this).addClass("coloredHeader");
    var i = $(this).index();
    var nextElem = $(this).closest("tr").next().children().eq(i);
    var prevElem =$(this).closest("tr").prev().children().eq(i)
    if( nextElem.is("th.clickable")) {
        nextElem.addClass("coloredHeader");
    }
    if( prevElem.is("th.clickable")) {
       prevElem.addClass("coloredHeader");
    }
    }, function() {
    $(this).removeClass("coloredHeader");
    var i = $(this).index();
    $(this).closest("tr").next().children().eq(i).removeClass("coloredHeader");
    $(this).closest("tr").prev().children().eq(i).removeClass("coloredHeader");
});

function openNewStudentWindow() {
    const elems = [document.querySelector("td #firstName"), document.querySelector("td #lastName")] ;

    elems.forEach(elem => {
        if(elem.style.display == "table-cell") {
            elem.style.display = 'none';
        } else {
            elem.style.display = 'table-cell';
        }
        elem.value = "";
    });

    toggle(document.querySelector("td #createbutton"));
}

function createNewStudent() {
    var StudentFormData = {
        firstName : $("td #firstName").val(),
        lastName : $("td #lastName").val()
    }

    $.ajax({
        type : "POST",
        url : window.location.href + "/newstudent",
        data : StudentFormData
    })
    .done(function() {
            location.reload();
    });
}

async function updateSchoolClassOnSingleView() {
    let url = window.location.href;
    var SchoolClassFormData = {
        id : parseInt(document.querySelector('#editSchoolClass').dataset.id),
        className : document.querySelector("#className").value,
        subject : document.querySelector("#classSubject").value
    };

    const response = await fetch("/updateSchoolClass", {
        method : "POST",
        headers : {
            "Content-Type" : "application/json"
        },
        body : JSON.stringify(SchoolClassFormData)
    });

    if(!response.ok) throw response;
    if(response.ok) {
        window.location.replace(url);
    }
}

function openSchoolClassEdit() {
    if($("#helpercontent").is(":visible")) {
        $("#helpercontent").toggle();
    }

    if($("#editSchoolClass").is(":visible")) {
        $("#editSchoolClass").toggle();
    } else {
        closeAll();
        $("#editSchoolClass").show();

        $("#editSchoolClass #className").val($("h1").data('classname'));
        $("#editSchoolClass #classSubject").val($("h1").data('subject'));
    }

}

function showHelperContent() {
    if($("#editSchoolClass").is(":visible")) {
        $("#editSchoolClass").toggle();
    }
    $("#helpercontent").toggle();
}

function openGradeTest(gradeTestId) {
    window.location.replace(window.location.href + '/' + gradeTestId);
}
</script>
</body>
</html>